<app-selection>
        <ville villeId="1" villeName="Paris"></ville>
        <ville villeId="2" villeName="Barcelone"></ville>
        <app-selection>
              <ville villeId="3" villeName="Tunis"></ville>
              <ville villeId="4" villeName="New Delhi"></ville>
              <ville villeId="5" villeName="New York"></ville>
              <app-selection>
                          <ville villeId="6" villeName="Tokyo"></ville>
              </app-selection>
        </app-selection>
</app-selection>
